
 <article class="blog-post">
  <h2 class="display-5 link-body-emphasis mb-1"><%= @article.title %></h2>
  <p class="blog-post-meta"><%= render 'article_detail', article: @article %></p>

  <p><%= @article.body %></p>


  
  <div class="d-flex">
    <%= link_to t('app.button.edit'), edit_article_path(@article), class: 'btn btn-primary' if policy(@article).update?  %>
    <%= link_to 'Apagar', article_path(@article), class: 'btn btn-danger ms-2', method: :delete, data: {confirm: 'Are you sure?'} if policy(@article).destroy? %>
   	<%= link_to 'Back', root_path, class: 'btn btn-secondary ms-2' %>
  </div>
  
  <h2 class="mt-3"><%= t('.comments') %></h2>

  <%= render @article.comments %>

  <h3><%= t('.add_comment') %></h3>
  <% if policy(:comment).create? %>
    <%= render 'comments/form'%>
  <% else %>
    <%= t('.login_create_comment') %>
  <% end %>
</article>



